.bg-nav-custom {
    background: rgb(225,165,165);
background: linear-gradient(90deg, rgba(225,165,165,0.37625472552302175) 51%, rgba(221,214,203,1) 100%);
    }

.nav-item {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fondo-botones {  
    background-size: cover;
    background-image: url("img/imagensection1.jpg");
}
.fondo-section1 {
    background-color: rgb(233, 160, 172);
}
.btn-group-vertical {
    margin-inline-start: 50%;
}
